body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "header header"
  "section aside"
  "footer footer";
  grid-gap: 20px;
  background-color: #0267f2;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: 100% 100%;
    grid-template-areas:
    "header"
    "section"
    "aside"
    "footer";
    grid-gap: 20px;
  }
}

p {
  color: #0100fc;
  font-style: italic;
}

header {
  background-color: #e70078;
  grid-area: header;
}

section {
  background-color: #e7cc04;
  grid-area: section;
}

aside {
  background-color: #6b0078;
  grid-area: aside;
}

footer {
  background-color: #94cc04;
  grid-area: footer;
}

.footercolor {
  color: black;
}

img#html {
  max-width: 30rem;
}

img#sea {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
